

.try{
    border: 2px solid white ;  
    color: #198754;
    background-color: white;
    border-radius: 16px;
    padding: 5px;
    width: 120px;
   }
   .info{
margin-bottom: 200px;

  } 
  header{
   height: 300px;
  }
  .get{
    background-color: #01bf86;
    color: white;
    padding: 5px;
    width: 120px;
    border-radius: 15px;
    border: none;
   
  }
  .singup{
    background-color: #01bf86;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 8px;
    width: 140px;
    
  }
  ul{
    list-style: none;
gap: 40px;
color: #828b91;
}
/* .list{
  gap: 40px; */

.footer{
margin-right: 500px;  
}